services:
  backend:
    container_name: backend
    build: ./backend
    command: node app.js
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      JWT_SECRET: miciomicio
      NODE_ENV: prod

  # frontend:
  #   container_name: frontend
  #   build: ./frontend
  #   command: npm run dev
  #   ports:
  #     - "5173:5173"
  #   volumes:
  #     - ./frontend:/usr/src/app
  #     - /usr/src/app/node_modules
  #   depends_on:
  #     - backend

  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./data:/data/db
      - ./mongo-init:/docker-entrypoint-initdb.d
    ports:
      - "27017:27017"
